/* 
    Created on : Mar 17, 2014, 1:52:07 AM
    Author     : S.Priyanga
*/
@import url(http://fonts.googleapis.com/css?family=Sanchez:400italic);
@font-face { // Contact Us Letter
	font-family: 'YanoneKaffeesatzRegular';
	src: url('../font/contatc_lettr/yanonekaffeesatz-regular-webfont.eot');
	src: url('../fonts/contatc_lettr/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/contatc_lettr/yanonekaffeesatz-regular-webfont.woff') format('woff'),
	url('../font/contatc_lettr/yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
	url('../fonts/contatc_lettr/yanonekaffeesatz-regular-webfont.svg#YanoneKaffeesatzRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*@media all and (max-width: 1200px) {  screen size until 1200px 
    body {
        font-size: 1.5em;  1.5x default size 
    }
}
@media all and (max-width: 800px) {  screen size until 1000px 
    body {
        font-size: 0.8em;  1.2x default size 
        }
    }
@media all and (max-width: 400px) {  screen size until 500px 
    body {
        font-size: 0.3em;  0.8x default size 
        }
    }
    */

/*
 * -----------------------------------------------------------------------------
 * Bootstrap Customize
 * -----------------------------------------------------------------------------
 */
body{
    background-color: #fafafa;
}
h1{
    //font-family: 'Lustria', serif;
    font-family: 'Sanchez', serif;
}
.font-lustria{
    font-family: 'Lustria', sans-serif;
    
}
h2,h3,h4,h5{
    font-family: 'Ubuntu', sans-serif;
    color: #0099cc;
}
.h2-fea{
    color: #ff9933;
    font-size: 35px;
    //font-weight: bold;
}
a:hover, a:active, a:after a:focus{
    text-decoration:none;
}
a{
    color: #499ffb;
}
a:hover{
    color: #979797;
}
.jumbotron p,p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}
.pquote{
    font-family: 'Nova Slim', cursive;
}
.pquote-fea{
    font-family: 'Nova Slim', cursive;
    color: #990099;
}

.wellhome {
background-image: -webkit-linear-gradient(top,#40D1AE 0,#f5f5f5 100%);
background-image: linear-gradient(to bottom,rgba(42, 235, 142, 0.91) 0,#FFFFFF 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
border-color: #D7F2F7;
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0),0 1px 0 rgba(255,255,255,.1);
box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
}
/*
 * -----------------------------------------------------------------------------
 * Start Footer Styles
 * -----------------------------------------------------------------------------
 */
#shadow-footer{
    border-top: 1px solid rgba(172,170,173, 0.5);
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(172,170,173,0), rgba(172,170,173, 0.7), rgba(172,170,173,0)); 
    background-image:    -moz-linear-gradient(left, rgba(172,170,173,0), rgba(172,170,173, 0.7), rgba(172,170,173,0)); 
    background-image:     -ms-linear-gradient(left, rgba(172,170,173,0), rgba(172,170,173, 0.7), rgba(172,170,173,0)); 
    background-image:      -o-linear-gradient(left, rgba(172,170,173,0), rgba(172,170,173, 0.7), rgba(172,170,173,0)); 
    box-shadow: 0px 5px 20px #7B9FA8;
} /*_____________________________________ END Footer _________________________*/

/*
 * -----------------------------------------------------------------------------
 * Customize CSS
 * -----------------------------------------------------------------------------
 */
.cus-container{
    margin: 30px auto;
    border-radius: 8px 8px; 
    background: #f1f1f1;
    -webkit-border-radius: 8px 8px;
    -moz-border-radius: 8px 8px; 
}
.cus-margin{
    margin-right: 30px;
}


/*______________________________________Parallax Part________________________-*/
#section1 {
    /* IE10+ */ 
background-image: -ms-linear-gradient(top, #FAFAFA 5%, #F2F2F2 50%, #DEEDE4 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FAFAFA 5%, #F2F2F2 50%, #DEEDE4 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FAFAFA 5%, #F2F2F2 50%, #DEEDE4 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5, #FAFAFA), color-stop(50, #F2F2F2), color-stop(100, #DEEDE4));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FAFAFA 5%, #F2F2F2 50%, #DEEDE4 100%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom, #FAFAFA 5%, #F2F2F2 50%, #DEEDE4 100%);
/*    background: #fafafa;*/
/*    margin: 0 auto; 
    padding: 200px;
    position: relative; 
    width: 100%; 
    background-repeat: no-repeat;*/
    background-size: 100% 100%;
    box-shadow: 0 30px 70px rgba(0,0,0,0.2);
    display: block;
    height: auto;
    max-width: 100%;
}
#section2 { 
    background: url(../img/features/bg1.jpg) 50% 0 fixed; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    height: 100%;  
    margin: 0 auto; 
    padding: 35px 0;
    position: relative; 
    width: 100%; 
}
#section3 { 
    background: url(../img/features/bg2.jpg) 50% 0 fixed;
    height: 100%;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 35px 0;
}
/*#section4 { 
    background: url(../img/features/bg4.jpg) 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 35px 0;
}*/
#section5 { 
    background: url(../img/features/bg3.jpg) 50% 0 fixed;
    height: 100%;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 -30px 50px rgba(0,0,0,0.2);
    padding: 35px 0 0 0;
}

/* Non-essential demo stuff */
/*.hero-unit {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}*/
.media-object { width: 64px; height: 64px; padding-bottom: 30px }
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 35px;
    padding-left: 11px;
}

/*______________________________________Register form________________________-*/
.signupWrapper{
    text-align: left;
    margin: 10px auto 20px auto;
    width: 93%;
    /*height: auto;*/
    background: white;
    border-radius: 8px 8px; 
    -moz-border-radius: 8px 8px; 
    -webkit-border-radius: 8px 8px; 
    border: 1px solid #ccccff;
    /*background-image: url('../images/content/formSignin.png');*/
    background-position: bottom;
    height: 100%;
    padding: 10px;
    -moz-box-shadow: -1px 6px 17px #00afb5;
-webkit-box-shadow: -1px 6px 17px #00afb5;
box-shadow: -1px 6px 17px #00afb5;
}
.form-label{
    font-family: serif;
    text-align: right;
}
.Apform{
    margin: 10px auto 0 auto;
/*    width: 700px;*/
}
.signUp-img{
    width: 100%;
    margin: 0 auto 30px auto;
}

.no-display {
    position: absolute;
    visibility: hidden;
}


.do-display {
    position: absolute;
    width: 200px;
    color: #fff;
    background: #000;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: visible;
    border-radius: 6px;
    margin-left:110px;
    opacity: 0.4;
    /*  float: left;*/
    z-index: 999;
    
/*    transform: translate(45px, -21px);
-webkit-transform: translate(45px, -21px);
-moz-transform: translate(45px, -21px);
-o-transform: translate(45px, -21px);
-ms-transform: translate(45px, -21px);*/
}

/*______________________________________Events Timeline_______________________*/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 95%;
  float: left;
  border: 1px solid #d4d4d4;
  /*border-radius: 2px;*/
  /*padding: 20px;*/
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 24px;
  height: 24px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  right: -12px;
  /*background-color: #999999;*/
  z-index: 100;
  /*
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  */
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge > a {
  color: #C5C7C5 !important;
}
.timeline-badge a:hover {
  color: #000 !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    padding:20px;
    margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-footer{
    padding:20px;
    background-color:#a2e5f1;
}
.timeline-footer > a{
    cursor: pointer;
    text-decoration: none;
}
.tooltip{
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    filter:alpha(opacity=0);
    
}
.tooltip.in{
    /*opacity:0;
    filter:alpha(opacity=80);*/
    
}
.tooltip.top{
    margin-top:-2px;
}
.tooltip.right{
    margin-left:2px;
}
.tooltip.bottom{
    margin-top:2px;
}
.tooltip.left{
    margin-left:-2px;
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.left .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.bottom .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.right .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip-inner{
    width:200px;
    padding:3px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#313131;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0;
}
.timeline > li.timeline-inverted{
  float: right; 
  clear: right;
  margin-top: 30px;
  margin-bottom: 30px;
}
.timeline > li:nth-child(2){
  margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-badge{
  left: -12px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li {
      margin-bottom: 20px;
      position: relative;
      width:100%;
      float: left;
      clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
    
.timeline > li.timeline-inverted{
  float: left; 
  clear: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.timeline > li.timeline-inverted > .timeline-badge{
  left: 28px;
}
}

/*____________________________________Contact Us Letter_______________________*/
.cus-jumbo1{
    /*background:-webkit-gradient(radial, 188 -118, 294, 60 102, 549, from(#FFFFFF), to(#1B93EC))*/
    background:-webkit-gradient(radial, 180 -82, 163, 500 102, 549, from(#FFFFFF), to(#1B93EC))
}
#wrap {width:530px; margin:20px auto; height:auto; font-family: 'YanoneKaffeesatzRegular';}
.cus_h1 {margin-bottom:20px; text-align:center;font-size:48px; text-shadow:0 1px 0 #ede8d9; }
.cus_p1 {text-shadow:0 1px 0 #fff; font-size:24px;}

#form_wrap { 
    overflow:hidden; height:446px; position:relative; top:0px;
    -webkit-transition: all 1s ease-in-out .3s;
    -moz-transition: all 1s ease-in-out .3s;
    -o-transition: all 1s ease-in-out .3s;
    transition: all 1s ease-in-out .3s;
}

#form_wrap:before {
    content:"";
    position:absolute;
    bottom:128px;left:0px;
    background:url('../img/contact_lettr/before.png');
    width:530px;height: 316px;
}

#form_wrap:after {
    content:"";position:absolute;
    bottom:0px;left:0;
    background:url('../img/contact_lettr/after.png');
    width:530px;height: 260px; 
}

#form_wrap.hide:after, #form_wrap.hide:before {display:none; }
#form_wrap:hover {height:776px;top:-200px;}


.cus_form1 {
    background:#f7f2ec url('../img/contact_lettr/letter_bg.png'); 
    position:relative;top:150px;overflow:hidden;
    height:200px;width:400px;margin:0px auto;
    padding:20px;
    border: 1px solid #fff;
    border-radius: 3px; 
    -moz-border-radius: 3px; -webkit-border-radius: 3px;
    box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    -moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
    -webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    -webkit-transition: all 1s ease-in-out .3s;
    -moz-transition: all 1s ease-in-out .3s;
    -o-transition: all 1s ease-in-out .3s;
    transition: all 1s ease-in-out .3s;
}


#form_wrap:hover .cus_form1 {height:630px; top: 50px}

.cus_label1 {
    margin: 5px 20px 0 0; 
    font-size: 13px; color: #b3aba1;
    text-transform: uppercase; 
    text-shadow: 0px 1px 0px #fff;
}

.cus_texta1 {
    font: 14px normal normal uppercase helvetica, arial, serif;
    color: #7c7873;background: #f0f0f0;
    width: 360px; height: 36px; padding: 0px 10px; margin: 0 0 5px 0;
    border:1px solid #f8f5f1;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    -moz-box-shadow: inset 0px 0px 1px #726959;
    -webkit-box-shadow:  inset 0px 0px 1px #b3a895; 
    box-shadow:  inset 0px 0px 1px #b3a895;
}	

.cus_texta2 { height: 80px; padding-top:14px;}

.cus_texta1:focus, .cus_submit1[type=text]:focus {background:rgba(255,255,255,.35);}

#form_wrap .cus_submit1[type=submit] {
    position:relative;font-family: 'YanoneKaffeesatzRegular'; 
    font-size:24px; color: #7c7873;text-shadow:0 1px 0 #fff;
    width:100%; text-align:center;opacity:0;
    background:none;
    cursor: pointer;
    border: none;
/*    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; 
    -webkit-transition: opacity .6s ease-in-out 0s;
    -moz-transition: opacity .6s ease-in-out 0s;
    -o-transition: opacity .6s ease-in-out 0s;*/
    transition: opacity .6s ease-in-out 0s;
}

#form_wrap:hover .cus_submit1[type=submit] {
    z-index:1;opacity:1;
    border: none;
/*    -webkit-transition: opacity .5s ease-in-out 1.3s;
    -moz-transition: opacity .5s ease-in-out 1.3s;
    -o-transition: opacity .5s ease-in-out 1.3s;*/
    transition: opacity .5s ease-in-out 1.3s;
}

#form_wrap:hover .cus_submit1:hover[type=submit] {color:#435c70;}

/*______________________________________Admin menu_______________________*/
/* Mobile Menu */
.mobile-header {
	line-height: 100%;
	width: 100%;
	display: block;
	position: fixed;
	background: #ffffff;
	z-index: 9999;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.mobile-header ul {
	margin: 0px;
	padding: 0px;
	z-index: 30;
	list-style: none;
}
.mobile-header ul li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 30;
	width: 25%;
}
.mobile-header ul li a {
	margin: 0px;
	padding: 20px 0px;
	width: auto;
	display: block;
	background: none;
	text-align: center;
        text-decoration: none;
	font-size: 12px;
	line-height: 12px;
	color: #888888;
	cursor: pointer;
	border-right: 1px solid #eeeeee;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}
.mobile-header ul li.m-menu a {
	font-weight: 700;
}
.mobile-header ul li a:hover,
.mobile-header ul li.active,
.mobile-header ul li.active a {
	color: #ffffff;
	background: #77c043;
}
.mobile-header ul li a:hover,
.mobile-header ul li.active a {
	border-right: 1px solid #63A832;
}
.mobile-header ul li a span.menu-open,
.mobile-header ul li.active a span.menu-close {
	display: inline;
}
.mobile-header ul li.active a span.menu-open,
.mobile-header ul li a span.menu-close {
	display: none;
}
/* Mobile Menu */
.mobile-menu {
	/* background: #222222; */
	margin: 0px;
	padding: 5px;
	width: 150px;
	text-transform: none;
	/*font-size: 12px;*/
	position: fixed;
	top: 65px;
	bottom: 0px;
	left: -200px; /* Hides Brief Menu Popup As JavaScript Loads */
	z-index: 9998;
	display: block;
	height: 100%;
	overflow: hidden;
	color: #ffffff;
}
.mobile-menu.active {
	height: auto;
	overflow: visible;
}
.mobile-menu-bg {
	margin: 0px;
	position: fixed;
        padding: 0px;
	width: 160px;
	top: 0px;
	bottom: 0px;
	left: -200px; /* Hides Brief Menu Popup As JavaScript Loads */
	z-index: 9997;
	display: block;
	height: 100%;
	-webkit-box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 1);
	box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 1);
}
.mobile-menu.active,
.mobile-menu-bg.active {
	display: block;
}
/* Floats */
.clearfloat:after {
	content: ""; 
	display: table;
	clear: both;
}

/*______________________________________Event CALENDAR_______________________*/

#cal > .datepicker-days{
    background-color: #0099cc;
}

#cal > .table-bordered{
    -moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 20px #36c8ff;
-webkit-box-shadow: 0px 0px 20px #36c8ff;
box-shadow: 0px 0px 20px #36c8ff;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}
/*______________________________________Single Event_______________________*/
.cus-jumbo2{
    background: radial-gradient(center, ellipse cover, rgba(8,216,248, 0.8)25%, rgba(3,86,99, 0.9)100%); 
    background: -moz-radial-gradient(center, ellipse cover, rgba(8,216,248, 0.8)25%, rgba(3,86,99, 0.9)100%); 
    background: -webkit-radial-gradient(center, ellipse cover, rgba(8,216,248, 0.8)25%, rgba(3,86,99, 0.9)100%); 
    background: -o-radial-gradient(center, ellipse cover, rgba(8,216,248, 0.8)25%, rgba(3,86,99, 0.9)100%);
    
box-shadow: inset 0px 0px 32px 21px #FFFFFF;
-webkit-box-shadow: inset 0px 0px 32px 21px #FFFFFF;
-moz-box-shadow: inset 0px 0px 32px 21px #FFFFFF;
-o-box-shadow: inset 0px 0px 32px 21px #FFFFFF;
}

/*______________________________________Team_______________________*/
.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}
// ---------------------------------------------------------Commen Finished-----
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    cursor: default;
}

.ch-info-wrap, 
.ch-info{
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.ch-info-wrap {
    top: 20px;
    left: 20px;
    background: #f5feff;
    box-shadow: 
        0 0 0 20px rgba(161, 248, 255, 0.2), 
        inset 0 0 3px rgba(0, 143, 255, 0.8);

}

.ch-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;

    -webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}

.ch-info .ch-info-front {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-back {
    opacity: 0;
            /*background: rgba(94, 236, 255, 0.68);*/
    background: rgb(94, 236, 255);
    pointer-events: none;

    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);

    -webkit-transition: all 0.4s ease-in-out 0.2s;
    -moz-transition: all 0.4s ease-in-out 0.2s;
    -o-transition: all 0.4s ease-in-out 0.2s;
    -ms-transition: all 0.4s ease-in-out 0.2s;
    transition: all 0.4s ease-in-out 0.2s;
}
.ch-info .ch-info-back a{
    text-decoration: none;
}
.ch-img-1 { 
    background-image: url(../../images/services/cs/cs.png);
}

.ch-img-2 { 
    background-image: url(../../images/services/cs/cs.png);
}

.ch-img-3 { 
    background-image: url(../../images/services/cs/cs.png);
}

.ch-img-4 { 
    background-image: url(../img/team/S.Priyanga.JPG);
}

.ch-img-5 { 
    background-image: url(../../images/services/cs/cs.png);
}
.ch-img-5-1 { 
    background-image: url(../../images/services/cs/cs.png);
}
.ch-info h3 {
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
    font-size: 17px;
    line-height: 1.5em;
    margin: 18px 15px;
    padding: 40px 0 0 0;
    height: 80px;
    font-family: 'Comfortaa', cursive;
    text-shadow: -2px -2px 11px #e710e7;
    /*	text-shadow: 
                    0 0 1px #e710e7, 
                    0 1px 2px #e710e7;*/
}

.ch-info p {
    color: #fff;
    padding: 10px 5px 0;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
    display: block;
    color: #e7615e;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
    color: #fff;
}

.ch-item:hover .ch-info-front {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);

    opacity: 0;
} 

.ch-item:hover .ch-info-back {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

    opacity: 1;
    pointer-events: auto;
}