/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2014, 8:42:42 PM
    Author     : S.Priyanga
*/
/*
 *----------------------------------- Snap Sliding Page Styles Start----------*/
html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*background: #333333;*/
  background: rgba(233, 234, 237, 0.5);
  background: url(../img/background-2.jpg);
}

.snap-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 2;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-shadow:0px 5px 10px #000000;
    /*background: rgba(233, 234, 237, 0.9);*/
    background: url(../img/background.jpg);
    padding: 0 10px;
}

.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
}

.snap-drawer-left {
  left: 0;
  z-index: 1;
}

.snap-drawer-right {
  right: 0;
  z-index: 1;
}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}

/*Snap END*/
.nsbmlogo{
    margin: 15px auto 20px auto; 
    width: 220px; 
    height: auto;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 8px rgba(255,255,255,0.4);
}
/*-------------------------------------------------------------- Typography --*/
h1,h2{
    font-family: 'Roboto', sans-serif;
}
h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;
}
p{ 
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
    line-height: 27px; 
    color: #f7f7f7; 
}

.ubuntu{
    font-family: 'Ubuntu', sans-serif;
}
.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.font-play{
    font-family: 'Play', sans-serif;
}
.font-label{
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-weight: 300;
}
.h1-shadow{
    text-shadow: 0px 0px 22px #000000;
    color: #ffffff;
    text-align: left
}
/*Typography END*/
.hr-style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(191,18,186,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(191,18,186,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(191,18,186,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(191,18,186,0.75), rgba(0,0,0,0)); 
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #0099ff
}
.menu-links > a:hover{
    color: #cc00cc;
}
.brzero{
    border-radius: 0;
    border: 5px solid #DDDDDD;
}
.panel, .alert, .thumbnail{
    border-radius: 0;
}


/* # Styles for Boostrap Clickable panel */
.clickable-panel {
    cursor: pointer;
}
.clickable-panel .glyphicon {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}
a.clickable-panel { color: inherit; }
a.clickable-panel:hover { text-decoration:none; }

.panel-footer {
    background-color: #F5F5F5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #DDDDDD;
    padding-bottom: 40px;
}
/*Clickable END*/

/*Bootstrap Model Customize*/ 
.modal-backdrop{
    z-index: 0;
}
.modal{
    background: rgba(0,0,0,0.5);
}
/*Model Customize END*/

/*--------------------------- Animating Link Underlines HOver Effect ---------*/
.underline > a{
  position: relative;
  color: #0099ff;
  text-decoration: none;
}

.underline > a:hover {
  color: #0099ff;
}
.underline > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0099ff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.underline > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*Animating Link Underlines END*/

/* Footer
-------------------------------------------------- */

.footer {
    position: relative;
    bottom: 0px;
    text-align: center;
    padding: 0px 0;
    margin-top: 0px;
    border-top: 1px solid #e5e5e5;
    /*background-color: #f5f5f5;*/
}
.footer p {
  /*margin-bottom: 0;*/
  color: #777;
}
.footer-links {
  margin: 0px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

/*------------------------------------------------Custom Buttons-------------*/
.btn-perpal {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
/*	-moz-border-radius:42px;
	-webkit-border-radius:42px;*/
	/*border-radius:42px;*/
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:20px 76px;
	text-decoration:none;
	text-shadow:0px 0px 0px #a454cc;
}
.btn-perpal:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
        color:#ffffff;
}
.btn-perpal:active {
	position:relative;
	top:1px;
}

/*-------------------------------------------  Custom Buttons END-------------*/
#lms-home-social-menu2 > li{
    font-family: Cambria, Georgia, serif;
    display: inline;
    margin-right: 20px;
    text-align: center;
}
#lms-home-social-menu2 > li > a{
    color:#33ccff;
    text-decoration: none;
}
#lms-home-social-menu2 > li > a:hover{
    color: #ffffff;
    text-decoration: none;
}