/*
Copyright © 2012 - 2014 D2Real Solutions.
All Rights Reserved.

These materials are unpublished, proprietary, confidential source code of
D2Real Solutions (pvt) Limited and constitute a TRADE SECRET of D2Real Solutions (pvt) Limited.

Author : S.Priyanga < s.priyanga22@gmail.com >
Description : 
Created on : Jun 21, 2014, 11:15:48 PM
*/
/* 
    Created on : Jun 21, 2014, 11:15:48 PM
    Author     : S.Priyanga
*/

/*
 *----------------------------------- Snap Sliding Page Styles Start----------*/
html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #dfeaed;
}

.snap-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
box-shadow:0px 5px 25px #009999;
background: rgba(46, 130, 138, 0.8);
padding: 0 10px;
}

.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
}

.snap-drawer-left {
  left: 0;
  z-index: 1;
}

.snap-drawer-right {
  right: 0;
  z-index: 1;
}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}

/*Snap END*/

/*-------------------------------------------------------------- Typography --*/
h1,h2{
    font-family: 'Roboto', sans-serif;
}
h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;
}
.ubuntu{
    font-family: 'Ubuntu', sans-serif;
}
.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.font-play{
    font-family: 'Play', sans-serif;
}
.font-label{
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-weight: 300;
}
.h1-shadow{
    text-shadow: 0px 0px 22px #000000;
    color: #ffffff;
    text-align: left
}
/*Typography END*/

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #0099ff
}
.menu-links > a:hover{
    color: #cc00cc;
}
.brzero{
    border-radius: 0;
    margin-top: 0;
}



/* # Styles for Boostrap Clickable panel */
.clickable-panel {
    cursor: pointer;
}
.clickable-panel .glyphicon {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}
a.clickable-panel { color: inherit; }
a.clickable-panel:hover { text-decoration:none; }

.panel-footer {
    background-color: #F5F5F5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #DDDDDD;
    padding-bottom: 40px;
}
/*Clickable END*/

/*Bootstrap Model Customize*/ 
.modal-backdrop{
    z-index: 0;
}
.modal{
    background: rgba(0,0,0,0.5);
}
/*Model Customize END*/

/*--------------------------- Animating Link Underlines HOver Effect ---------*/
.underline > a{
  position: relative;
  color: #0099ff;
  text-decoration: none;
}

.underline > a:hover {
  color: #0099ff;
}
.underline > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0099ff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.underline > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*Animating Link Underlines END*/

/*--------------------------- Dynamic Form field ---------*/
.entry:not(:first-of-type) {
    margin-top: 10px;
}
.glyphicon {
    font-size: 12px;
}
/*Dynamic Form field END*/

/* Footer
-------------------------------------------------- */

.footer {
    position: relative;
    bottom: 0px;
    text-align: center;
    padding: 0px 0;
    margin-top: 0px;
    border-top: 1px solid #e5e5e5;
    /*background-color: #f5f5f5;*/
}
.footer p {
  /*margin-bottom: 0;*/
  color: #777;
}
.footer-links {
  margin: 0px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}