/* 
    Created on : Apr 10, 2014, 8:42:42 PM
    Author     : S.Priyanga
*/

body{
    width: 100%;
    height: 100%;
    background: #dfeaed;
}

h1,h2{
    font-family: 'Vollkorn', serif;
    font-weight: 400;
}
h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;
}
.ubuntu{
    font-family: 'Ubuntu', sans-serif;
}
.font-volkorn{
    font-family: 'Vollkorn', serif;
}
p{
    
}
.sub-header{
    border-bottom: 2px solid #00cc66;
}
.hr-style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(191,18,186,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(191,18,186,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(191,18,186,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(191,18,186,0.75), rgba(0,0,0,0)); 
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #999999;
}
#lms-header{
    
}

.container{
    box-shadow:0px 4px 25px #ACAAAD;
    background: #F2F2F2;
}

/* # Styles for Boostrap Forms */
.lms-label{
    font-family: serif;
    color: #666666
}
/* # Styles for Boostrap Inputs */
.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

/* # Styles for Boostrap Clickable panel */
.clickable-panel {
    cursor: pointer;
}

.clickable-panel .glyphicon {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

a.clickable-panel { color: inherit; }
a.clickable-panel:hover { text-decoration:none; }


/* # Start
 * vhome Styles
 *****************************************************************************/
#lms-vhome-left{
    -moz-box-shadow: 6px 0px #b03ad6;
    -webkit-box-shadow: 6px 0px #b03ad6;
    box-shadow: 6px 0px #b03ad6;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 6, direction = 90, color = '#b03ad6');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 6, Direction = 90, Color = '#b03ad6')";
    /*Shadows look very different in IE (Only cardinal directions supported)*/
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element should have a background-color*/
    /*All filters must be placed together*/
}
#lms-home-social-menu1{
    margin: 10px auto 10px 130px;
}
#lms-home-social-menu1 > li{
    display: inline;
}
#lms-home-social-menu1 > li > a >img{
    margin: auto auto 10px 10px;
}
#lms-home-social-menu1 > li > a >img:hover{
    opacity: 0.5;
}

#lms-home-social-menu2{
    margin: auto auto auto -25px;
}
#lms-home-social-menu2 > li{
    display: inline;
    margin-right: 20px;
    text-align: left;
}

.h1-perpal{
    text-shadow: -2px -1px 4px #CCC5D4;
}
/* # END vhome */ 

/* # Start
 * Logged Student page1 Styles
 *****************************************************************************/
#lms-lgmenu{
    margin: 5px auto 10px 0px;
}
#lms-lgmenu > li{
    display: inline;
}
#lms-lgmenu > li > a{
    margin-left: 13px; 
}
#lms-lgmenu > li > a >img:hover{
    margin-left: 8px;
    opacity: 0.5;
}

/* # END lgStudent Page 1 */ 

/* # Start
 * Right Panel Styles
 *****************************************************************************/
/*#ajaxload{
    height: 100%;
    max-height: 2000px;
    min-height: 500px;
    height: 100px;
}*/
#right_panel{
    box-shadow: -10px 0px 15px #AAABA9;
    height: 100%;
    /* IE10+ */ 
    background-image: -ms-linear-gradient(top left, #E66DCA 0%, #BF12BA 50%, #801F5F 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top left, #E66DCA 0%, #BF12BA 50%, #801F5F 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(top left, #E66DCA 0%, #BF12BA 50%, #801F5F 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #E66DCA), color-stop(50, #BF12BA), color-stop(100, #801F5F));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top left, #E66DCA 0%, #BF12BA 50%, #801F5F 100%);
    /* W3C Markup */ 
    background-image: linear-gradient(to bottom right, #E66DCA 0%, #BF12BA 50%, #801F5F 100%);
    
}

/* # END Right Panel */ 

/* # Start
 * Footer Styles
 *****************************************************************************/
#shadow-footer{
    border-top: 1px solid rgba(172,170,173, 0.5);
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(172,170,173,0), rgba(172,170,173, 0.7), rgba(172,170,173,0)); 
    background-image:    -moz-linear-gradient(left, rgba(172,170,173,0), rgba(172,170,173, 0.7), rgba(172,170,173,0)); 
    background-image:     -ms-linear-gradient(left, rgba(172,170,173,0), rgba(172,170,173, 0.7), rgba(172,170,173,0)); 
    background-image:      -o-linear-gradient(left, rgba(172,170,173,0), rgba(172,170,173, 0.7), rgba(172,170,173,0)); 
    box-shadow: 0px 5px 20px #7B9FA8;
}

/* # END Footer */ 

/* # Start
 * Vtutes Styles
 *****************************************************************************/
#tute-items{
    margin: auto auto 15px auto;
}
a.list-group-item {
    height:auto;
    min-height:200px;
}
a.list-group-item.active small {
    color:#fff;
}

/* # END Vtutes */ 

/* # Start
 * Student Home Styles
 *****************************************************************************/
.glyphicon-lg{font-size:3em}
.blockquote-box{border-right:5px solid #E6E6E6;margin-bottom:25px}
.blockquote-box .square{width:100px;min-height:50px;margin-right:22px;text-align:center!important;background-color:#E6E6E6;padding:20px 0}
.blockquote-box.blockquote-primary{border-color:#357EBD}
.blockquote-box.blockquote-primary .square{background-color:#428BCA;color:#FFF}
.blockquote-box.blockquote-success{border-color:#4CAE4C}
.blockquote-box.blockquote-success .square{background-color:#5CB85C;color:#FFF}
.blockquote-box.blockquote-info{border-color:#46B8DA}
.blockquote-box.blockquote-info .square{background-color:#5BC0DE;color:#FFF}
.blockquote-box.blockquote-warning{border-color:#EEA236}
.blockquote-box.blockquote-warning .square{background-color:#F0AD4E;color:#FFF}
.blockquote-box.blockquote-danger{border-color:#D43F3A}
.blockquote-box.blockquote-danger .square{background-color:#D9534F;color:#FFF}

.box-perpal{
    width: 60px; 
    height: 60px; 
    color: #ffffff; 
    padding: 20px; 
    font-size: 18px;
    /*background: #854EB1;*/
    /* IE10+ */ 
    background-image: -ms-linear-gradient(top left, #E66DCA 0%, #BF12BA 50%, #801F5F 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top left, #E66DCA 0%, #BF12BA 50%, #801F5F 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(top left, #E66DCA 0%, #BF12BA 50%, #801F5F 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #E66DCA), color-stop(50, #BF12BA), color-stop(100, #801F5F));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top left, #E66DCA 0%, #BF12BA 50%, #801F5F 100%);
    /* W3C Markup */ 
    background-image: linear-gradient(to bottom right, #E66DCA 0%, #BF12BA 50%, #801F5F 100%);
}
/* # END Student Home */ 

/* # Start
 * Assignment Styles
 *****************************************************************************/
//Reusing bootstrap 3 panel CSS
.panel {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}   

.panel-primary {
    border-color: #428BCA;
}   

.panel-primary > .panel-heading {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
}   

.panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}   

.panel-title {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}   

.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}   

.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}   

.panel-body:after {
    clear: both;
}   

.panel-body {
    padding: 15px;
}   

.panel-footer {
    background-color: #F5F5F5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #DDDDDD;
    padding-bottom: 40px;
}

//CSS from v3 snipp
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

/* # END Assignment */ 

/* # Start
 * Student profile Styles
 *****************************************************************************/
.prf-name{
    color: #cc00cc;
}
.prf-contact{
    border-left: 4px solid #ff00ff;
    padding: 5px 0px 5px 10px;
    background: #fde4fd;
}
.prf-contact span{
    color: #cc00cc;
}
/* # Student profile Styles */ 

/* # Start
 * Calander
 *****************************************************************************/
#cal > table > tbody > tr{
    width: 238px;
    height: 34px;
    padding: 0;
    margin: 0;
}
#cal > table > tbody > tr > td{
    width: 34px;
    height: 34px;
    padding: 0;
    margin: 0;
}
#cal > table > tbody > tr > td > div{
    width: 34px;
    height: 34px;
    padding: 0 0 0 5px;
    margin: 0;
}
/* # Calander Styles END*/ 

/* # Start
 * News Feed
 *****************************************************************************/
#nt-example1 {
    max-width: 350px;
    margin: auto;
    height: 400px;
    border-radius: 5px;
}

#nt-example1-container {
    text-align: center;
    margin: -10px auto;
}
#nt-example1-container i {
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border-radius: 5px;
}

#nt-example1-container i:hover {
    color: #333;
}
#nt-example1 li {
    color: #ccccff;
    background: rgba(0,0,0, 0.2);
    overflow: hidden;
    height: 150px;
    padding: 8px;
    line-height: 20px;
    list-style: none;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px dotted #2c8162;
}

#nt-example1 li:hover {
    background: rgba(0,0,0, 0.3);
}
