/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 12, 2014, 1:57:06 AM
    Author     : Chandana Sameera
*/

    h1{
        font-family: 'Roboto Condensed', sans-serif;
    }
    h3{
        font-family: 'Play', sans-serif;
    }
    p{
        font-family: 'Roboto', sans-serif;
    }
