/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 12, 2014, 2:01:57 AM
    Author     : Chandana Sameera
*/


    .destacados{
        padding: 20px 0;
        text-align: center;
    }
    .destacados > div > div{
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: 0.2s;
    }
    .destacados > div:hover > div{
        margin-top: -10px;
        border: 1px solid rgb(200, 200, 200);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
        background: rgba(200, 200, 200, 0.1);
        transition: 0.5s;
    }

/*    #hide_items{
        display: block;
        width: 88%;
        background-color: red;
        height: 50px;
        position:fixed;
        top: 0;
    }*/
