/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2014, 8:42:42 PM
    Author     : S.Priyanga
*/

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.pages-body{
    background: #f1f3f3;
}
.pages-container{
    padding: 0px 10px 0px 0px;
    background: #e9eaed;
    /*box-shadow: 0px 0px 10px #99e5f5;*/
}
.right-content{
    margin-top: 10px;
    padding-left: 25px;
}
.breadcrumb{
    background-color: rgba(200, 231, 241, 0.48);
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color: #ffffff;
    background-color: rgba(125, 160, 168, 0.49);
}

/*_____________________________Site main Side menu Style_________________*/
.sidebar-main{
    background-color: #4ac6e1; 
    margin-top: 0px;
    padding-left: -15px;
    height: 100%;
    box-shadow: 0px 3px 20px rgba(106, 169, 172, 0.8);
}
#sidebar-main-menu > ul > li{
    margin-bottom: 3px;
    border-left: 10px solid #7483A8; //#990099
}
#sidebar-main-menu > ul > li > a{
    font-family: 'Roboto' , serif; 
    font-weight: 500;
    padding-left: 20px; 
    font-size: 17px; 
    text-align: left; 
    width: 100%; 
    border-radius: 0
}
/*Site main Side menu styes END*/

/*_____________________________School of Computing page Style_________________*/
.sidebar-com{
    background-color: #4ac6e1;
    margin-top: 0px;
    height: 100%;
    box-shadow: 0px 3px 20px #99e5f5;
    height: 100%;
}
#sidebar-com-menu > ul > li{
    margin-bottom: 3px;
    border-left: 10px solid #0081c2;
}
#sidebar-com-menu > ul > li > a{
    font-family: 'Roboto' , serif; 
    font-weight: 500;
    padding-left: 20px; 
    font-size: 17px; 
    text-align: left; 
    width: 100%; 
    border-radius: 0
}
/*.tab-active{
    border-left: 5px solid #ffffff;
}*/
/*School of computing page styes END*/

/*_____________________________School of Management page Style_________________*/
.sidebar-mng{
    background-color: #4ac6e1; 
    margin-top: 0px; 
    height: 100%;
    box-shadow: 0px 3px 20px rgba(103, 236, 137, 0.8);
}
#sidebar-mng-menu > ul > li{
    margin-bottom: 3px;
    border-left: 10px solid #419641;
}
#sidebar-mng-menu > ul > li > a{
    font-family: 'Roboto' , serif; 
    font-weight: 500;
    padding-left: 20px; 
    font-size: 17px; 
    text-align: left; 
    width: 100%; 
    border-radius: 0
}
/*School of Management page styes END*/

/*_____________________________School of Engineering page Style_________________*/
.sidebar-eng{
    background-color: #4ac6e1; 
    margin-top: 0px;
    height: 100%;
    box-shadow: 0px 3px 20px rgba(236, 209, 103, 0.8);
}
#sidebar-eng-menu > ul > li{
    margin-bottom: 3px;
    border-left: 10px solid #FF5C00;
}
#sidebar-eng-menu > ul > li > a{
    font-family: 'Roboto' , serif; 
    font-weight: 500;
    padding-left: 20px; 
    font-size: 17px; 
    text-align: left; 
    width: 100%; 
    border-radius: 0
}
/*School of Engineering page styes END*/

/*Typography*/
a, a:hover{
    text-decoration: none;
}
a:hover{
    color: #999999;
}
.p-news{
    font-size: 18px;
}
.font-schools{
    font-family: 'Roboto',serif;
    color: #0A6E8F;
    font-weight: 500;
    font-size: 19px;
    //#0099cc
}
.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.font-play{
    font-family: 'Play', sans-serif;
}
.font-label{
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
}
.hr-style {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(39, 149, 201, 0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(39, 149, 201, 0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(39, 149, 201, 0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(39, 149, 201, 0.75), rgba(0,0,0,0)); 
}

.nsbmlogo{
    margin: 15px auto 20px auto; 
    width: 220px; 
    height: auto;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 8px rgba(255,255,255,0.4);
}
.school-logo{
    /*margin: 15px auto 20px auto;*/ 
    width: 44px; 
    height: auto;
    background-color:  #f2f6f7;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 3px rgba(255,255,255,0.4);
}

/* # Styles for Boostrap Inputs */
.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}
/*Addone styles finished*/

/*--------------------------- Animating Link Underlines HOver Effect ---------*/
.underline > a{
  position: relative;
  color: #0099ff;
  text-decoration: none;
}

.underline > a:hover {
  color: #0099ff;
}
.underline > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0099ff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.underline > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*Animating Link Underlines END*/

/****************************************************************Menu Styles*/
#menu-background{
    padding: 0 10px; 
    width: 100%;
    /* IE10+ */ 
    background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #BEBECE 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #BEBECE 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top left, #FFFFFF 0%, #BEBECE 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(100, #BEBECE));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #BEBECE 100%);

    /* W3C Markup */ 
    background-image: linear-gradient(to bottom right, #FFFFFF 0%, #BEBECE 100%);
}

#top-menu2 > li > a{
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    color: #990099;
    font-weight: 500;
}

/**************************************************************Welcome Section*/
#welcome{
    padding-top: 60px;
    /* IE10+ */ 
background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 20%, #64BFFF 60%, #1B93EC 85%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 20%, #64BFFF 60%, #1B93EC 85%);

/* Opera */ 
background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 20%, #64BFFF 60%, #1B93EC 85%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(20, #FFFFFF), color-stop(60, #64BFFF), color-stop(85, #1B93EC));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 20%, #64BFFF 60%, #1B93EC 85%);

/* W3C Markup */ 
background-image: radial-gradient(ellipse farthest-corner at left top, #FFFFFF 20%, #64BFFF 60%, #1B93EC 85%);
    
    
    background:-webkit-gradient(radial, 180 -82, 163, 500 102, 549, from(#FFFFFF), to(#1B93EC));

/*     IE10+  
    background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #BEBECE 100%);

     Mozilla Firefox  
    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #BEBECE 100%);

     Opera  
    background-image: -o-linear-gradient(top left, #FFFFFF 0%, #BEBECE 100%);

     Webkit (Safari/Chrome 10)  
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(100, #BEBECE));

     Webkit (Chrome 11+)  
    background-image: -webkit-linear-gradient(45deg, #E9E8FF 0%,#94B3B0 100%);

     W3C Markup  
    background-image: linear-gradient(45deg, #E9E8FF 0%,#94B3B0 100%);*/

}

.social-img{
    width: 25px;
    height: 25px;
    margin-left: 10px
}

/*Contact Section*/
.h5-contact{
    color: #ffffff;
    font-family: 'Roboto',serif;
    font-size: 16px;
}
.h5-contact > span{
    color: #333333;
    font-family: 'Ubuntu',serif;
}
.connect-links > a{
    font-family: 'Roboto',serif;
    color: #E9E8FF;
    font-weight: 300;
    font-size: 18px;
}
.connect-links > a:hover{
    font-family: 'Roboto',serif;
    color: #003366;
    font-weight: 300;
    font-size: 18px;
}
.connect-submenu{
    font-size: 17px;
}
.con-social-links{
    font-family: 'Play',serif;
    color: #cccccc;
    font-size: 17px;
}
.con-social-links:hover{
    color: #ffffff;
    text-decoration: none;
}
.con-social-links > img{
    width: 25px;
    height: 25px;
    margin: 0 15px 7px 0;
    opacity: 0.8;
}
.con-social-links > img:hover{
    opacity: 1;
}

