/* Slider */
/* ------------------- Carousel Styling ------------------- */
.carousel-inner {
    border-radius: 0px;
}

.carousel-caption {
    background-color: rgba(150, 178, 187, 0.69);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 0 0 10px 25px;
    color: #fff;
    text-align: left;
}

.carousel-indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    margin: 0;
    padding: 0 25px 25px 0;
    text-align: right;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}
/* Slider end*/